:root {
    --purple: #735BF8;
    --purple-90op: rgba(115, 91, 248, 0.85);
    --light-purple: #A98DE9;
    --light-gray: #f6f6f6;
    --orange: #ff9c71;
    --dark-orange: #db821d;
    --light-orange: #FEC685;
}

body {
    background-color: var(--light-gray);
}

.c-bg-purple {
    background-color: var(--purple);
}

.c-logo-80 {
    max-width: 180px;
}

.c-titles-font {
   font-family: 'Spartan', sans-serif;
}

.c-text-font {
    font-family: 'Montserrat', sans-serif;
}

.c-link-cw {
    color: white;
    transition: all 0.5s;
}

.c-link-cw:hover {
    color: #2d245d;
}

.c-tw {
    color: white !important;
}

.c-tb {
    color: black;
}

.c-imp-button {
    color: white;
    background-color: var(--dark-orange);
    outline: none;

}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

.c-underline {
    text-decoration: underline var(--dark-orange);
}

.hoverbutton {
    font-size: 2em;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
	box-shadow: 0px 0px 15px 2px #9c9c9c;
	cursor:pointer;
	color: var(--orange);
	text-decoration:none;
	text-shadow: 0px 2px 3px #3333338e;
    background-color: var(--light-gray);
    transition: all 0.5s ease-in-out;
}

.hoverbutton:hover {
    background-color: rgb(238, 238, 238);
}

@media only screen and (min-width: 0px) and (max-width: 819px) {
    .d-sm-none {
        display: none !important;
    }

    .wi-sm-50 {
        max-width: 50%;
    }
}

@media only screen and (min-width: 820px) {
    .wi-md-30 {
        max-width: 30%;
    }
}

.c-post-card {
    padding: 20px;
    border: 2px solid var(--dark-orange);
}